---
import '../main.css'
export interface Props {
    style?: string;
    link?: string;
    imgsrc: string;
    header: string;
    description: string;
}
const { style, link, imgsrc, header, description } = Astro.props
---


<a style={style} href={link} class="creditscard">
    <img src={imgsrc}></img>
        <div class="credittext">
            <h2>
                {header}
            </h2>
            <p>
                {description}
            </p>
        </div>
</a>